*{
    margin:0;
}
.background{
    display:flex;
    width:100%;
    background: url("back.jpg") no-repeat fixed center;
    background-size: cover;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
 .box{  
     display:flex;
     background-color: rgb(243, 244, 247);
     flex-direction: column;
     width: 30%;
     height: 65%;
     padding: 25px 25px 25px 25px;
     border: solid 10px rgb(121, 62, 62);
     border-radius: 10%;
    
 }

 .input-items{
     display:flex;
     justify-content: space-between;
     align-items: center;
 }
 .input-items > p{
    font-family: cursive;
    font-size: 20px;
    padding: 10px 10px 10px 10px;
 }
 .input-items> input{
     height: 20px;
    width: 60%;
 }
.submit{
    display:flex;
    justify-content:space-around;
}
.submit>a{
    transition:0.5s ;
    text-decoration: none;
    border: solid rgb(109, 53, 53) 3px;
    padding: 5px 15px 5px 15px;
    border-radius: 10%;
}
.submit>a:hover {
    color:white;
    background-color:rgb(109, 53, 53);
}
